.main-header {
  background-color: white;
  padding: 25px;
  display: flex;
  color: black;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.main-header-nav {
  padding: 15px;
  width: 65%;
  float: right;
}

.main-header-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
