.slider {
  background-color: #fff;
}

.arrow-control {
  cursor: pointer;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  margin: 0;
  border: none;
}

.arrow-control-disabled {
  opacity: 0.2;
}

.arrow-control img {
  margin-bottom: 0;
}
